TZ=Etc/UTC
PUID=1000
PGID=1000

CELERY_BEAT_CONTAINER_NAME=mygithub_celery_beat
CELERY_WORKER_CONTAINER_NAME=mygithub_celery_worker

DYNACONF_LOG_LEVEL=INFO
DYNACONF_TZ="Etc/UTC"

DYNACONF_GH_API_TOKEN=<your Github PAT>

DYNACONF_CELERY_LOG_LEVEL=INFO
DYNACONF_CELERY_BROKER_HOST=mygithub_rabbitmq
DYNACONF_CELERY_BROKER_PORT=5672
DYNACONF_CELERY_BROKER_USERNAME=rabbitmq
DYNACONF_CELERY_BROKER_PASSWORD=<CHANGE-ME>
DYNACONF_CELERY_BROKER_VHOST=rabbitmq

DYNACONF_CELERY_BACKEND_HOST=mygithub_redis
DYNACONF_CELERY_BACKEND_PORT=6379
DYNACONF_CELERY_BACKEND_PASSWORD=<CHANGE-ME>

## SQLite DB
DYNACONF_DB_TYPE=sqlite
DYNACONF_DB_DRIVERNAME="sqlite+pysqlite"
DYNACONF_DB_USERNAME=
DYNACONF_DB_PASSWORD=
DYNACONF_DB_HOST=
DYNACONF_DB_PORT=
DYNACONF_DB_DATABASE=/mygithub/db/db.sqlite3
DYNACONF_DB_ECHO=false

## MySQL DB
# DYNACONF_DB_TYPE=mysql
# DYNACONF_DB_DRIVERNAME="mysql+pymysql"
# DYNACONF_DB_USERNAME="mysql"
# DYNACONF_DB_PASSWORD=mysql
# DYNACONF_DB_HOST=<IP or FQDN>
# DYNACONF_DB_PORT=3306
# DYNACONF_DB_DATABASE=mygithub-dev
# DYNACONF_DB_ECHO=false

## Postgres DB
# DYNACONF_DB_TYPE=postgres
# DYNACONF_DB_DRIVERNAME="postgresql+psycopg2"
# DYNACONF_DB_USERNAME="postgres"
# DYNACONF_DB_PASSWORD=postgres
# DYNACONF_DB_HOST=<IP or FQDN>
# DYNACONF_DB_PORT=5432
# DYNACONF_DB_DATABASE=mygithub_dev
# DYNACONF_DB_ECHO=false
